@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, labore. Quos voluptate vitae neque laudantium repellat nisi aut doloribus, quibusdam quam accusantium incidunt nemo officiis optio quaerat eveniet velit nulla?</p>
</div>
